.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.arrow {
  width: 34px;
  height: 22px;
  margin: 4px 0 0 15px;
  background: url('../images/arrow.svg') center/100% 100% no-repeat;
}

.facebook,
.twitter,
.dribbble,
.behance {
  display: flex;
}

.facebook {
  @include socialIcon(9px, 20px, facebook);
}

.twitter {
  @include socialIcon(21px, 18px, twitter);
}

.dribbble {
  @include socialIcon(21px, 20px, dribbble);
}

.behance {
  @include socialIcon(21px, 14px, behance);
}
